Source: sbs-hyphenation-tables
Section: text
Priority: optional
Maintainer: Bert Frees <bert.frees@sbs.ch>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8)

Package: sbs-hyphenation-tables
Architecture: all
Section: text
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: openoffice.org-hyphenation-de, hyphen-de
Description: German hyphenation tables for SBS

